body {
    font-family: Arial, sans-serif;
    background-color: #e6f0ff; /* azul bem clarinho */
    color: #003366; /* azul escuro para texto */
    text-align: center;
    padding: 20px;
}

header {
    background-color: #3399ff; /* azul médio */
    padding: 15px;
    border-radius: 5px;
    color: white;
    margin-bottom: 30px;
}

h1 {
    font-size: 32px;
    margin-bottom: 8px;
}

h2 {
    font-size: 20px;
    font-weight: normal;
}

section img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}

section p {
    font-size: 16px;
    max-width: 600px;
    margin: 0 auto;
}


